<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.user.latechvlsu.seatgeek</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/python3</string>
    <string>__PROJECT_DIR__/tickets_seatgeek.py</string>
  </array>

  <key>WorkingDirectory</key>
  <string>__PROJECT_DIR__</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>SEATGEEK_CLIENT_ID</key>
    <string>__SEATGEEK_CLIENT_ID__</string>
    <key>PRICE_ALERT_THRESHOLD</key>
    <string>50</string>
    <key>PATH</key>
    <string>/usr/local/bin:/usr/bin:/bin</string>
  </dict>

  <!-- Run every 6 hours -->
  <key>StartInterval</key>
  <integer>21600</integer>

  <!-- Also run once when loaded -->
  <key>RunAtLoad</key>
  <true/>

  <key>StandardOutPath</key>
  <string>__PROJECT_DIR__/.seatgeek.out.log</string>
  <key>StandardErrorPath</key>
  <string>__PROJECT_DIR__/.seatgeek.err.log</string>
</dict>
</plist>
